Package: {{ APP_NAME }}
Version: {{ APP_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Chia Network Inc <hello@chia.net>
Description: Chia climate token driver https://github.com/Chia-Network/climate-token-driver
